<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Adrián San Miguel</string>
		<key>images</key>
		<array>
			<string>adrian1</string>
		</array>
		<key>birth</key>
		<string>19870103</string>
		<key>uniform</key>
		<string>13</string>
		<key>position</key>
		<string>goalkeeper</string>
		<key>style</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alisson Becker</string>
		<key>images</key>
		<array>
			<string>alisson1</string>
			<string>alisson2</string>
			<string>alisson3</string>
		</array>
		<key>birth</key>
		<string>19921002</string>
		<key>uniform</key>
		<string>1</string>
		<key>position</key>
		<string>goalkeeper</string>
		<key>style</key>
		<string>193cm, 91kg의 체격 조건으로 골키퍼로서 매우 이상적인 피지컬을 가지고 있다. 반사 신경이 매우 훌륭하고, 집중력도 매우 뛰어나 흔히 말하는 어이없는 실수가 적은 편이다. 공을 받았을 때 상대 선수가 달려들어도 여유롭게 제끼는 강심장[21]도 큰 장점이다.

최대 장점은 위치 선정 능력이다. 상대 공격 시에 잔발로 계속해서 움직이면서 위치를 잡는데, 미리 위치를 잘 잡으니 공격수가 위협적인 슈팅을 날려도 별 무리 없이 막아내며 안정감을 불어 넣는다. 위치선정이 매우 뛰어나니 애초에 몸을 크게 날릴 필요도 없는 것. 이런 탓에 잘 모르는 사람이 알리송의 선방을 보면 화려하다는 느낌은 받지 못하는 경우가 있기도 하다.[22][23]

일대일 상황에서 각을 좁히며 몸으로 막아내는 세이브가 굉장히 많다. 특히 수비라인 뒷공간을 파고드는 공격수와의 일대일 상황이나, 기습적으로 골문 바로 앞에서 허용하는 일대일 찬스에서 이러한 강점이 빛을 발한다. 키만 큰 것이 아니라 몸집 자체가 큰 편이라 그런지, 일대일 위기 상황에서 공이 알리송의 몸 어딘가에 걸려 막히는 경우가 잦다.

공을 쳐내는 데에 있어서 로마 시절까지는 공을 바로 앞으로 쳐내다가 상대 선수들에게 세컨볼을 내주는 빈도가 높다는 불안 요소가 있었으나, 리버풀 합류 후엔 세컨볼을 허용하지 않을 곳으로 잘 쳐내는 편이다. 이렇다 보니 현재는 상대에게 세컨볼 찬스를 거의 허용하지 않는다.[24]

또한 현대 축구에서 골키퍼에게 요구되는 빌드업, 패싱 능력, 발기술 또한 수준급이며 본인도 스스로 이 부분이 유럽 축구에서 얼마나 중요한지 인지하고 있다고 인터뷰에서 말할 만큼 스스로 노력하고 있음을 알 수 있는데, 실제로 브라질 리그 시절과 현 무대에서의 퍼포먼스를 비교하면 패싱 능력과 빌드업 측면에서 많은 발전을 이룩하였다.[25] 골문을 비우고 뛰쳐나오는 타이밍 역시 매우 빠르고 정확한데, 이러한 점이 수비라인을 올리느라 뒷공간이 많이 노출되는 리버풀에게 큰 도움이 되고 있다.

특히나 수비 상황에서 볼을 잡은 이후에 빠르게 전방으로 찔러주는 패스가 뛰어나다. 손으로 던져주는 투척 능력도 엄청나거니와 드롭킥의 정확도와 속도가 매우 뛰어나 리버풀의 롱 카운터 전술에 핵심 요원으로 자리매김했다.[26] 빠른 공수전환을 주 무기로 삼는 리버풀에서 이러한 장점은 더욱 빛을 발하고 있는데, 이는 실제로 클롭 감독이 원래 로리스 카리우스를 영입하며 기대했던 부분이었다. 시몽 미뇰레는 이런 점에서 터무니없이 부족했고, 카리우스는 그럭저럭 역습의 시작점으로서의 역할은 잘 수행한 편이었지만, 골키퍼치고 기본적인 반사신경이나 판단력이 영 별로인데다가 수비 리딩에도 종종 문제를 겪으며 결국 챔스 결승에서 호러쇼를 보여주고 쫓겨나듯이 임대되었다. 알리송의 경우는 자신에게 오는 볼을 안정적으로 처리할 뿐만 아니라, 역습 전개 시에도 빠른 판단으로 좋은 장면을 많이 만들어내고 있다.

신체 조건에 걸맞게 공중볼 상황에서도 상당히 강하다. 시몽 미뇰레는 일단 기본적인 위치선정에서부터 큰 문제가 있었고, 로리스 카리우스는 리버풀로 넘어오자 위치선정 뿐만 아니라 캐칭이나 펀칭에서도 잦은 미스를 범했다. 알리송의 위치선정은 이 둘과 비교하면 두말할 나위 없이 훨씬 뛰어나고, 피지컬에서도 상대 공격수에 밀리는 경우가 거의 없어 안정적이다. 알리송 영입 이전에 미뇰레, 카리우스, 보그단과 같은 공중볼 바보들만 보던 리버풀 팬들 입장에서는 적응하기 힘든 수준의 안정감을 보여준다.

장점을 요약하자면 현대축구에서 이상적인 골키퍼에게 요구하는 거의 모든 능력치가 갖춰진 선수이며, 빠른 공수전환에 기여하면서 동시에 넓은 수비 뒷공간을 효과적으로 커버하는 등 리버풀의 전술에서 핵심적인 역할을 수행하는 밸런스가 매우 좋은 육각형 골키퍼이다.

단점도 없진 않은데, 골키퍼치고는 부상이 꽤 잦고 패널티 킥 선방능력이 떨어진다는 것이다. 서브 골키퍼인 아드리안 산미겔보다 PK 선방률이 낮아서 아쉬운 모습을 보이고 있다. 19-20 시즌 후반기 들어서는 안정감도 떨어지는 모습이 보이고 있다.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Trent Alexander-Arnold</string>
		<key>images</key>
		<array>
			<string>arnold1</string>
			<string>arnold2</string>
			<string>arnold3</string>
			<string>arnold4</string>
		</array>
		<key>birth</key>
		<string>19981007</string>
		<key>uniform</key>
		<string>66</string>
		<key>position</key>
		<string>defender</string>
		<key>style</key>
		<string>본래 중앙 미드필더로서 스티븐 제라드의 후계자로 각광받았었으나, 16-17 시즌에 1군 콜업이 된 후 유스팀 코치들과 1군 레귤러 스쿼드에 들려면 어느 포지션에서 뛰는 것이 좋을지 상의 끝에 주전 경쟁이 수월한 측면 수비 자원으로 완전히 자리잡았다. 다만 본래가 미드필더 출신이라 그런지, 인터뷰에서 지금은 감독 전술 지시에 따라 풀백으로 뛰고 있으나 후에 미드필더로서의 기회가 온다면 마다하지 않겠다는 발언도 보였다.

매우 모험적이고 공격적인 라이트백이다. 킥을 마치 데이비드 베컴처럼 처리하는데[13] 킥의 정확도가 매우 높고 예리하다. 런닝 크로스, 얼리 크로스 가리지 않고 빠르게 휘어지는 크로스와 후방에서 한 번의 킥으로 전방으로 뽑아내는 정확한 롱패스는 아놀드의 트레이드 마크이자 리버풀의 주 공격 옵션 중 하나이다. 인사이드, 아웃사이드 가리지 않으며 종종 정말 말도 안 되는 롱패스를 구사하기도 한다. 아놀드의 정확한 킥은 리버풀의 세트피스에서도 잘 드러나는데, 코너킥 키커로서 위협적이게 휘어지는 킥을 구사하며 자신의 환상적인 킥 능력을 증명하고 있다. 아놀드의 이러한 킥으로 리버풀은 리그에서 가장 위협적인 세트피스를 구사하는 팀이 되었다.

뿐만 아니라 과감하게 돌파하는 모습도 인상적인데, 볼을 다루는 기본기가 탄탄한 편이고 다리가 긴데다가 주파력이 좋아 치달은 물론 중앙으로 컷인하는 드리블도 질이 높다. 특히 공을 멈춰세우고 킥을 하는 척 페인트를 주며 상대의 타이밍을 뺏고 다시 치고 나가는 기술을 능숙하게 구사할 수 있다.

아놀드가 여타 풀백과 차별되는 부분은 질 높은 롱&amp;숏 패스, 전술적 이해도를 바탕으로 후방에서의 플레이메이킹과 빌드업에 지대한 관여가 가능하다는 점이다. 어릴 적 중앙 미드필더 포지션에서 배운 전술 이해도와 연계 플레이를 적극 활용해 매우 영리한 모습을 보여주며, 언제 돌파를 해야 하고 언제 크로스를 올려야 할지에 대한 판단력, 즉 경기를 읽는 눈이 매우 좋다. 시야도 넓은 편이라 단순한 순환성 패스 뿐만 아니라 상대 수비진의 빈틈을 타 허를 찌르는 롱 스루패스도 잘 넣어준다. 이런 높은 축구 IQ, 질 높은 패스 플레이 및 롱패스 덕분에 단순한 직선적 움직임을 보여주는 풀백 그 이상의 패턴을 보여줄 수 있고 거의 미드필더의 영역까지 크게 관여할 수 있는 고차원적 풀백이다. 굳이 이름을 붙이자면 볼 플레잉 풀백으로 표현이 가능하다. 특히 위에서 언급된 후방에서 전방으로 넘기는 로빙 패스나 한 번에 상대 수비 라인과 미드필더 라인 사이에 위치한 선수 혹은 우측면에서 침투하는 살라를 겨냥한 기점 패스, 반대쪽 측면의 로버트슨이나 마네를 겨냥한 전환성 롱패스 이후에는 리버풀의 공격 템포가 급격하게 빨라지거나 아예 상대의 수비를 위협할 정도의 찬스가 나오곤 한다.

바디 밸런스의 불안정함이 있었는데,[14] 이 문제점은 18-19 시즌에 잘 개선됐다. 한 눈으로 보기에도 체격이 한 단계 커졌음에도 준족의 스피드는 여전해서 벌크업에 완벽하게 성공, 이젠 몸싸움에도 크게 밀리지 않으며 신체적으로 밀고 들어오는 윙어들을 어느 정도 제어하는 게 가능해졌다.

단점으로는 뛰어난 공격력에 비해 상대적으로 수비력이 좋지 못한 편이다. 수비 위치를 선점하는 면에서는 준수하고 예측력이 괜찮으며 상당히 부지런한 선수이긴 하나, 경험이 요구되는 대인 수비 시에 테크닉, 노하우, 침착성 부분에서 부족하다고 할 수 있다. 다리가 길고 순간적인 판단력이 괜찮아서 패턴이 단순한 윙어들은 잘 막지만, 변칙적인 패턴 플레이가 가능하거나 혹은 패턴은 단순해도 본인 이상의 스피드와 저돌성을 가진 윙어를 상대할 때는 버거워한다. 즉 1:1 수비에서 미숙함을 자주 드러내는 편.[15] 아무래도 침투에 능하거나 패턴이 다양한 반댓발 윙어를 막기 힘들어하는 듯하다. 물론 정확히 말하면 수비력 자체는 평타 정도로 리그의 다른 풀백들과 비교해봐도 중간은 가는 수준이지만,[16] 공격력에 비해 상대적인 얘기.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alex Oxlade-Chamberlain</string>
		<key>images</key>
		<array>
			<string>chamberlain1</string>
			<string>chamberlain2</string>
			<string>chamberlain3</string>
		</array>
		<key>birth</key>
		<string>19930815</string>
		<key>uniform</key>
		<string>15</string>
		<key>position</key>
		<string>midfielder</string>
		<key>style</key>
		<string>빠른 주력에 준수한 개인기를 지녀 드리블이 훌륭하고, 킥력도 좋고 몸싸움에도 능하다. 그래서 주저없이 상대 수비수와 정면으로 맞대결을 펼치는 플레이가 많다. 그래서 데뷔 초 어린 나이 때부터 이미 피지컬과 드리블 능력이 수준급으로 완성된 선수라는 평을 들었다.

아스널에서 뛰던 시절에는 수비 가담이 매우 처참한 수준이라 공수 밸런스가 깨져버리는 문제점이 있었다. 그러나 리버풀로 이적한 후에는 클롭의 적극적인 가이드를 받아[16] 엄청난 활동량과 수비 가담을 하는 선수로 변하였다.[17]

2017년 11월부터 슬슬 제대로 중용되기 시작했는데, 1차적으로 빠른 스피드와 볼 운반을 바탕으로 우측 미드필더의 임무를 맡아 준수한 폼을 보여주었다. 여기에 12월부터는, 정확히 에버튼 전부터 클롭의 의향대로[18] 중앙 미드필더로 출전해 저돌적인 드리블을 살려 리버풀의 공격에 활기를 불어넣는 역할을 수행하기 시작했다. 17-18 시즌 후반기부터는 중앙 미드필더 포지션에 완벽히 적응하며 파이널 패스와 클러치도 상당히 발전했는데 체임벌린이 미드필더 라인과 수비 라인 사이에서 공을 잡고 드리블로 수비 형태를 깨부순 뒤 침투하는 공격수들에게 찔러넣는 스루패스는 체임벌린의 트레이드마크 플레이 중 하나가 되었다. 수비 블록을 저돌적이고 빠른 돌파로 깨부순 뒤 수비 진영이 흐트러진 사이 정확하게 패스를 넣어주는 플레이가 일품.

또한 17-18 시즌 후반기부터는 중거리 슈팅 스킬이 비약적으로 상승하여 이제는 아예 킥력이 최고 무기로 떠올랐다. 리버풀에서 중거리 슈팅을 장착한 선수가 거의 없다 보니 체임벌린에게는 다른 선수들과 차별화를 주는 강력한 무기가 되었다.

제일 큰 단점은 축구 지능. 직접 공을 몰고 가는 데에는 능하지만, 공이 없을 때 지능적으로 알맞은 위치로 들어가는 움직임이 좋지 않다. 또한 잔부상을 꽤나 당하는 편이다.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jürgen Klopp</string>
		<key>images</key>
		<array>
			<string>klopp1</string>
			<string>klopp2</string>
			<string>klopp3</string>
			<string>klopp4</string>
			<string>klopp5</string>
		</array>
		<key>birth</key>
		<string>19670616</string>
		<key>uniform</key>
		<string></string>
		<key>position</key>
		<string>manager</string>
		<key>style</key>
		<string>마인츠에서의 06-07 시즌에 차두리를 영입하여 잠시 한솥밥을 먹었다. 클롭은 피지컬이 좋은 차두리를 오른쪽 풀백으로 전향시켜 차두리의 기량을 이끌어냈고,[18][19] 원래 포지션이 스트라이커였던 케빈 그로스크로이츠도 윙어로 정착하게 하더니 루카스 피스첵이 장기부상을 입자 아예 풀백으로 기용했는데 이 시도도 성공적이었다.[20] 게다가 분데스리가 유소년 레벨에서 유망한 스트라이커였던 에릭 두름도 풀백으로 포지션 전향을 시도하게 하여 1군팀에서 뛰게 하는 한 수를 두었는데 이 변화는 성공적이여서 결국 그로스크로이츠와 두름은 2014 브라질 월드컵에서 독일 국가대표로 뽑히기까지 하였다. 이 사실이 알려지자 클롭이 선수의 포지션 변경도 성공적으로 잘하게 해주는 감독이라는 인식이 생기게 되었다.

도르트문트에서 했던 “골 못 넣는 공격수를 키우는 재미도 쏠쏠하다”라는 농담에서도 볼 수 있듯이 부진했던 선수들에게 자신감을 부여하고 능력치의 한계를 끌어올리는 데에 있어 가장 훌륭한 감독 중 하나로 평가 받고 있다. 피에르 오바메양이 A급 공격수로 도약할 수 있던 것도 그의 덕이다. 본업은 공격형 미드필더였지만 윙어로 뛰며 리버풀 이적 초반에 매우 부진하던 호베르투 피르미누에게는 최전방 폴스 나인 역할을 부여하여 자신의 황태자로 만들어냈다.

클롭이 리버풀에 부임하자마자 가장 먼저 이루어낸 업적이 바로 피르미누를 비롯한 로저스 체제 하에서 내리막 코스를 타던 선수들을 귀신같이 살려낸 것이라 할 수 있다. 연장을 탓하며 A급 선수 영입을 요구하던 로저스를 무안하게 만들 정도로 선수들의 경기력 향상은 가히 대단했다. 리버풀이 16-17 시즌을 앞두고 영입에 쓴 돈은 겨우 £67M에 불과했다.[21] 심지어 판매로 £71M을 벌어들여 리그에서 소튼과 함께 유일하게 이적시장에서 흑자를 봤다.

본래 2선에서 뛰던 아담 랄라나를 16-17 시즌에 들어선 4-3-3의 오른쪽 중앙 미드필더 자리에 기용해 성공하였다. 랄라나는 2선치고는 주력과 돌파력이 부족한 모습을 보였기에 사디오 마네의 영입으로 입지가 흔들릴 수 있었으나 주력이 크게 중요하지 않은 중원에서 탁월한 활동량을 활용한 수비 가담과 오프더볼, 2선 출신다운 볼키핑과 탈압박을 보여주며 공수 연결고리 역할을 확실하게 해주었다. 랄라나는 이 시즌에서의 활약으로 클롭의 무한한 신뢰를 얻게 되었다. 같은 시즌에 공격적인 2선 자원이었던 조르지뇨 바이날둠을 박스 투 박스 미드필더로 탈바꿈시키기도 했다.

수비 진영에서부터 1차 빌드업을 수행해줄 미드필더가 부족하자 이전까지 박스 투 박스 유형으로 플레이하던 조던 헨더슨을 수비적인 6번 롤로 전환시킨 것도 나름 성공적이었다. 6번 롤을 수행할 미드필더가 없던 당시 팀 상황에서 많은 경기 팀 내 최다 터치, 최다 패스를 기록하는 등 공수 전환이나 공격 시작점 역할을 소화하였다. 다만 순수 수비 능력이 좋은 선수는 아니기 때문에 헨더슨에게 포백 보호에 대한 비판이 가해지기도 하였고 나중엔 박스 투 박스 역할로 돌아갔다.

17-18 시즌엔 높은 라인으로 인한 수비 불안 문제를 해결하기 위해 조 고메즈를 라이트백으로 활용하여 센터백 둘과 함께 변형 쓰리백을 형성시켜 효과를 보기도 했고, 주로 측면에서 활약하던 선수임에도 본인이 중앙 미드필더로 뛰고 싶어했던 알렉스 옥슬레이드체임벌린 역시 축구지능과 시야의 문제로 부정적인 견해가 대부분이었으나 탁월한 전진력과 발전한 파이널 패스 선택 능력, 강력한 중거리슛으로 리버풀 중원의 필요 자원으로 발돋움했다.

베테랑 제임스 밀너의 활약 또한 매우 인상적인데, 밀너의 경우 로저스에 의해 리버풀에서 중앙 미드필더로 뛰기로 약속받았지만 클롭의 부임 이후엔 두 시즌간 다른 포지션으로 뛰어야 했다. 첫 시즌에는 주로 왼쪽 오른쪽 가리지 않고 윙어로 기용되며[22] 20개가 넘는 공격포인트를 기록했고, 두번째 시즌 땐 레프트백으로 포지션을 옮겨 시즌 내내 안정적인 수비를 보여주며 맹활약하였다. 그리고 세번째 시즌에 드디어 중앙 미드필더로 돌아왔는데, 전반기에는 로테이션으로 활약하다가 후반기에는 거의 붙박이 주전으로 출장하며 중원의 핵심으로 도약했다. 아예 UEFA 챔피언스리그에서는 역대 한 시즌 최다 어시스트 횟수인 9도움을 기록하며 노장의 클래스를 보여주기도 하였다. 제한된 자원을 가지고 선수단을 꾸리는 데 상당히 능한 편인데, 도르트문트 시절에 레반도프스키, 피슈첵, 카가와, 벤더, 귄도간, 훔멜스, 수보티치같은 흙 속의 진주들을 엄청나게 싼 값에 데려왔다. 각 포지션에 필요한 선수들을 모두 알맞게 영입했다는 점에서 굉장한 수완을 가졌다는 것을 알 수 있다. 열악한 상황에서도 팀을 꾸려서 부활시키는 데에 그야말로 도가 튼 인물.

리버풀에서 처음으로 여름 이적시장을 맞이한 16-17 시즌에 자유계약으로 조엘 마티프를, 4m으로 라그나르 클라반을 영입하고 사디오 마네 영입으로 2선에서 밀려날 것 같았던 제임스 밀너를 왼쪽 풀백으로 돌리면서 고작 4m의 헐값으로 수비진의 퀄리티를 매우 높였다.
17-18 시즌 여름 이적시장에선 수비에 대한 계속되는 비판에도 불구하고 자신이 원하는 선수가 아니면 영입하지 않는다는 확고한 뜻을 계속해서 내보이며 결국 중앙 수비수 영입을 하지 않은 채 시즌 시작을 맞이했다. 이로 인해 의외로 쓸데없는 고집을 부릴 때가 있다는 부정적인 평가들도 많이 나왔다. 클롭은 판데이크만한 선수를 찾을 수 없다는 반응을 보였다.

그래도 2017년 여름에 리버풀로 이적한 모하메드 살라, 앤드루 로버트슨, 알렉스 옥슬레이드체임벌린은 입단 당시만 해도 따가운 눈총을 받았지만 이내 팀 내에서 핵심적인 멤버들로 자리매김했다. 특히 로마에서 데려온 살라는 리버풀에서 세계 최고의 축구스타들 중 한 명이 되었다.

반 년의 기다림 끝에 리버풀은 클럽 레코드와 역대 수비수 최고액 기록을 깨는 75m이라는 거금을 들여 버질 판데이크 영입에 성공하였다. 당시엔 너무 비싸다는 세간의 비아냥을 받기도 했지만, 판데이크는 고질적 약점을 갖고 있던 리버풀 수비진을 순식간에 리그에서 손꼽히는 철벽으로 만드는 활약을 보이며 판데이크만을 고집한 클롭의 눈이 틀리지 않았다는 것을 또 한 번 증명했다.

18-19 시즌에 들어서도 특유의 영입 수완은 여전해서 검증된 미드필더인 파비뉴와 나비 케이타[23]를 품는 데에 성공했으며, 그동안 약점으로 꼽히던 골키퍼 자리를 알리송 베케르의 영입을 통해 메꿨다. 게다가 스토크가 강등당한 틈을 타 수준급 윙어인 제르단 샤치리를 껌값에 데려오며 우승까지 노려볼 수 있을만큼 화려한 스쿼드를 구축했다. 사실 이 선수들의 총 영입료는 2000억이 넘어 전혀 싸게 샀다고는 얘기할 수 없지만, 이 모든 영입료를 쿠티뉴의 2000억원의 이적료로 커버가 가능했기 때문에 넷스팬딩만 보면 효율적이고 클롭 특유의 영입 수완이 잘 드러났다 할 수 있다.

결국 클롭이 영입한 선수들은 스쿼드의 핵심이 되어 팀의 성공에 공헌하였다. 이들은 이적 당시에는 가격 또는 기대치의 이유로 비판을 받았을지 몰라도 현재 시점에서 다시 본다면 너무나 효과적이고 적절한 선수 수급이었다. 이는 부유한 리그인 프리미어리그 빅클럽들에서 특히나 빈번히 일어나는, 천문학적 이적료를 통한 영입이 제대로 된 효과를 보지 못하는 부작용과는 완전히 대조된다. 영입 능력과 육성 뿐만 아니라 전술적인 능력도 굉장하다. 클롭은 본인의 뚜렷한 철학을 가지고 있음에도 점진적으로 전술을 변화시키는 데에 매우 능한 감독이다.

우선 분데스리가 시절에는 역대 명감독들의 압박 전술을 참고하여 그 만의 게겐 프레싱 전술을 마인츠와 도르트문트에 접목시켰다. 모든 필드 플레이어가 1선부터 상대를 압박해서 들어가는 이 전술은 상대의 빌드업과 패스길 자체를 막아버리는 전술로서 티키타카를 구사하거나 수비 진영부터 공격 전개를 하는 팀들 상대로 상당한 재미를 봤다. 또한 역으로 공격시에 공을 뺏길 경우 모든 필드 플레이어들이 공을 빼앗아 간 상대에게 압박을 전개해 3초 안에 볼을 뺏어 역습을 들어가며 점유율을 내주더라도 한방으로 이길 수 있는 필살 전술이 되었다. 이 압박 전술은 특히 강팀들의 진을 빼놨으며 클롭이 명장의 반열에 오르는 데에 큰 공헌을 했다.

물론 게겐 프레싱에도 약점은 있다. 수비라인을 높게 설정하고 전방위적인 압박을 가하기 때문에 상대가 역으로 노릴 수 있는 뒷공간이 열리게 된다. 상대팀이 내내 수비적으로 움츠리고 있다가 이 뒷공간을 터는 역습에 약한 것.[24] 또한 게겐 프레싱은 선수들에게 어마어마한 체력적 부담을 지게 하였고 결국 팀에 많은 부상자들을 낳게 했다. 이 결과, 도르트문트는 14-15 시즌 전반기에 강등권으로까지 추락하는 쓴맛을 맛봤다. 다행히도 후반기에는 부상자들이 복귀함에 따라 팀의 성적도 크게 올라갈 수 있었는데, 이 시즌에 클롭은 전술적 유연도가 떨어진다는 전문가들의 쓴소리를 들었다. 클롭이 전반기에 비판을 받은 이유는 게겐 프레싱이라는 전술 자체의 문제에 기인한 것이 아니라, 선수들의 줄부상으로 인해 게겐 프레싱이 정상적으로 가동될 수 없는 상황임에도 불구하고 전술적 보완 없이 계속 게겐 프레싱만을 밀고 나갔기 때문이었다. 게겐 프레싱 뿐만 아니라 어떠한 전술이라도 적합한 선수들을 이용해 이상적으로 가동하면 강력한 모습을 보이는 것은 당연하지만, 축구에서 늘 그런 완벽한 상황만은 나오지 않고 바로 그런 때에 감독의 전술적인 역량이 중요해진다. 스쿼드가 정상화된 후반기에 팀이 상향곡선을 그린 것만 봐도 안정적인 상태에서의 게겐 프레싱은 위협적이나, 그렇지 않은 상황에서 클롭의 대처 능력은 숙제로 남았었다.

이 게겐 프레싱의 위력과 단점은 리버풀에서도 발휘되었는데, 특히 16-17 시즌에 선수들의 체력이 남아돌던 전반기에는 승승장구했으나 선수들의 체력이 고갈되고 부상으로 아웃된 후반기에는 매우 애를 먹었다. 그리고 빠른 압박과 높은 라인 잡기로 인해 주로 라인을 많이 올리는 강팀들을 상대로는 좋은 성과를 얻었지만, 주로 라인을 내리고 롱패스로부터 시작되는 빠른 역습이나 세트피스를 이용한 공격을 선호하는 약팀들에게는 허무하게 패배하는 김빠지는 모습들이 나왔다. 아예 16-17 시즌에 빅6를 상대로는 무패를 기록했음에도[25] 중하위권 팀들에게는 쉽게 승점을 빼앗기는 모습을 보여주었다. 이는 비슷한 전술을 사용중인 프랭크 램파드의 첼시 FC에서도 이러한 양상이 나타났다.[26]

클롭이 변화를 보인 건 16-17 시즌 극후반기부터로, 선수들의 부상으로 인하여 게겐 프레싱을 도저히 쓸 수 없게 되자 전방위적인 압박을 버리고 늪축구를 사용하였다. 17-18 시즌에는 게겐 프레싱이 아닌 확실한 때에만 선수 한 명이 공을 가진 선수에게 전방 압박을 하고 나머지 선수들은 자리를 잡는 존 프레싱으로 전술에 살짝 변화를 주었다.[27] 또한 17-18 시즌 초반 슬럼프에 빠질 위기에 처하자 전격적으로 RB 라이프치히의 4-2-2-2 시스템을 도입, 거기에 체임벌린과 고메즈를 적절히 쉬프트시키며[28] 변형 3백도 능동적으로 활용하여 연승을 기록, 위기에서 한발짝 빠져나오는 모습을 보여주기도 했다.

여기에 17-18 시즌 후반기 챔피언스리그 토너먼트에서도 클롭의 유연성은 빛이 났는데, 8강 맨시티와의 1차전 상징적인 카운터 프레싱을 비롯해 3골 우위를 점한 뒤에는 판데이크를 중심으로 4-4-2 두 줄 수비를 활용해 리드를 지켰으며, 2차전 내내 선수비 후역습으로 일관하며 결국 원정골은 물론 1-2 승리까지 따냈다. 로마와의 4강 1차전에선 상대가 역으로 강한 중원을 바탕으로 전방 압박을 실행하자, 중원은 순수 볼탈취용으로만 활용하고 공을 되찾아올 시엔 중원을 생략하여 곧바로 마네, 피르미누, 살라를 겨냥하는 빠른 롱볼로 상대 뒷공간을 털어먹으며 5골을 득점했다.

또한 17-18 시즌부터는 로테이션을 굉장히 많이 돌린다. 물론 16-17 시즌 후반기에도 수치적으로는 로테이션이 많았으나 어디까지나 부상과 부진 때문에 어쩔 수 없이 돌리는 느낌이었으며 감독이 생각하는 포메이션과 베스트 11[29][30]은 몇 경기 라인업만 뽑아 보면 축구 문외한도 알 수 있을 정도였다. 반면 17-18 시즌 박싱데이 때는 이전 경기와 비교해 선발 라인업에서 최대 7명까지 변화를 주기도 했으며 살라, 마네, 쿠티뉴, 피르미누 등 공격진 에이스들을 풀가동하지 않을 때도 잦았다. 그 결과 리버풀은 해당 시즌 프리미어리그 팀 들 중 가장 로테이션을 많이 돌린 팀으로 자리매김하였다.

16-17 시즌과 17-18 시즌에 얻은 깨달음을 바탕으로 18-19 시즌부터는 유연성을 갖추고 온갖 전술들을 다채롭게 구사하고 있다. 점점 전술적으로 완전체에 가까웠던 FC 바이에른 뮌헨의 유프 하인케스와 유사해지는 중. 이는 앞뒤 안 따지고 늘 강력한 압박을 선호하던 젤리코 부바치 수석코치가 팀에서 이탈한 뒤 밸런스를 중요시하며 탄력을 받았다.

현재 클롭의 리버풀은 기본적으로 존 프레싱을 중심으로 한 전술을 도입해 압박의 강도를 줄이면서도, 과거 게겐 프레싱을 소화한 그것이 남아있어 간혹 가다 적절한 타이밍에 몇 분간 강렬한 압박을 선보여 일순간에 상대방을 몰아붙이는 화력도 보여준다.

클롭의 전술 구성 능력은 쿠티뉴가 2018년 1월에 바르셀로나로 이적한 후를 보면 알 수 있다. 쿠티뉴의 이탈로 새로운 플레이메이커가 필요해지자 17-18 시즌 후반기에는 알렉스 옥슬레이드체임벌린에게, 18-19 시즌 전반기에는 나비 케이타와 제르단 샤키리에게 그 역할을 부여했지만 각자 부상 혹은 부진으로 인해 얼마 가지 못했고, 이에 18-19 시즌 후반기부터는 아예 중원에서의 볼배급을 과감하게 포기하며 볼탈취와 공간 커버 역할만을 맡기더니 그 대신 공격적인 능력이 뛰어난 풀백들, 로버트슨과 알렉산더아놀드에게 플레이메이킹을 전담시켰다. 그리고 이 선택은 신의 한 수가 되어 리버풀은 세계 최고의 풀백 듀오를 가진 팀이 되었다.
</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sadio Mane</string>
		<key>images</key>
		<array>
			<string>mane1</string>
			<string>mane2</string>
			<string>mane3</string>
			<string>mane4</string>
			<string>mane5</string>
		</array>
		<key>birth</key>
		<string>19920410</string>
		<key>uniform</key>
		<string>10</string>
		<key>position</key>
		<string>winger</string>
		<key>style</key>
		<string>밀집수비를 순속만으로 뚫어버리는 게 가능한 초월적인 스피드와 돌파력을 가진 선수. 기록상 최고 속도는 34.84km/h로 빠른 선수들이 사방에 깔린 EPL에서도 최상위급이다. 최고속도만 빠른 것이 아니라 아프리칸 특유의 탄력을 바탕으로 순간적으로 치고 나가는 스피드와 가속도, 민첩성이 세계 탑급이다.[2] 초월적인 스피드 때문에 역습 상황에 치달을 활용한 볼 운반을 굉장히 잘한다. 체력도 엄청나서 경기 90분 어느 시점이던 역습 타이밍이 오기만 하면 장점을 어김없이 발휘한다.[3] 몸의 중심이 완전히 넘어갔는데도 넘어지지 않고 다시 균형을 회복할 정도로 뛰어난 바디 밸런스를 갖췄고 몸싸움도 피하지 않는 편. 한 마디로 사기적인 운동능력을 가졌다고 할 수 있다.

준수한 위치선정, 신속한 드리블, 양발을 가리지 않는 강한 킥력과 준수한 결정력으로[4] 상당히 좋은 골 결정력을 보여주며, 스피드를 앞세운 역습 상황에서 발휘하는 치달의 파괴력에 가려져서 그렇지 지공 상황에서 발휘하는 드리블과 측면 플레이도 상당히 파괴적이다. 정교하고 섬세하게 상대를 뚫어버리는 건 아니지만, 수비수가 예측하지 못하는 타이밍에 개인기를 치고 긴 터치로 방향을 바꾼 뒤 황소처럼 밀고 들어가는 모습을 자주 보여준다. 특히 상대 수비수가 역동작이 걸리게 상체 페인트나 스텝 오버를 취하고 반대쪽으로 센스있게 퍼스트 터치를 가져가는 건 마네의 트레이드 마크. 여러 패턴의 기술을 구사할 정도로 발재간도 꽤나 뛰어나다.

여기에 뛰어난 신체 능력이 더해져 플레이에 파괴력이 더해진다. 유연성과 민첩성, 탄력을 갖춰서 정지-기술-스프린트의 연결동작이 매끄럽기 때문에 일대일 상황에서 마네를 저지할 만한 피지컬과 스피드를 갖추지 못한 수비수라면 그냥 무리하게 파울로 저지하거나, 그 날 마네의 컨디션이 별로이기를 기도할 수밖에 없다. 통통 튀는 드리블을 활용하는 개인 능력도 뛰어나지만 측면에서 엇박자 타이밍에 이타적으로 내주는 연계 플레이나 공격적으로 찔러주는 패스에도 능하다. 거기에다가 높은 전술적 이해도와 지능, 센스까지 갖췄으니 상대 수비 입장에선 정말 상대하기 싫은 선수. 게다가 175cm의 상대적으로 작은 키에도 불구하고 장신 수비수들 사이에서 높은 점프력과 탁월한 위치선정으로 머리에 공을 잘 갖다댄다. 그래서 마네가 기록한 골 중에선 헤더 골이 의외로 많다.[5] 리버풀이 자랑하는 월드클래스 좌우 풀백의 아름다운 크로스도 큰 도움이 된다.

드리블러의 면모가 돋보이고 가장 뛰어나지만 플레이메이킹도 어느 정도 가능한 선수다. 17-18 시즌에 라이트윙 포지션에서의 라인브레이킹과 역습 상황에서의 빠른 드리블, 측면 돌파 및 마무리 등 본래 마네가 소화했던 역할을 모하메드 살라가 가져가고, 필리페 쿠티뉴의 겨울 바르셀로나 이적으로 팀 내 공격작업이 어려워지자 마네가 2선과 3선으로 내려와 볼 운반과 플레이메이킹을 겸하게 됐었다.# 기본적으로 볼터치가 섬세한 편은 아닌지라 기복은 조금씩 있지만, 내려와서 공을 받아준 다음 수행하는 볼운반이 워낙 좋은 선수인데다가 의외로 창의적인 스루 패스와 전환성 패스도 구사가 가능하다. 물론 18-19 시즌부턴 다시 원래의 돌격대장으로 돌아와 살라와 나란히 리그 22골로 득점왕에 오르기까지 하였다. 거기다가 강심장 기질이 있어서 큰 경기 및 강팀과의 경기에서도 좋은 모습을 보여주는데, 챔피언스리그에서의 활약이 특히 좋다.[6][7]

또한 공격 뿐만 아니라 수비가담에도 매우 능하다. 그냥 열심히 하는 게 아니라 수비를 상당히 잘한다. 타팀 팬들에겐 뛰어난 공격적인 능력과 동료 피르미누의 엄청난 활동량에 가려져 수비가담이 주목을 받지 못하는 감이 있으나, 리버풀의 경기를 보면 박스 안에까지 부지런히 내려와서 상대팀의 공격을 차단하고 곧바로 역습에 나서는 마네의 모습을 쉽게 볼 수 있다. 실제 수비가담 지표가 팀 내 주전 수비수들과 견줄만큼 최상위권이라는 데에서 마네의 수비 능력이 상당한 수준임을 알 수 있다.[8]

한 가지 단점이 있다면 볼터치와 결정력의 기복이 존재한다는 점이다. 잘 풀리는 날엔 수비수 2-3명이 붙어도 엄청난 돌파력으로 빠져나와 스프린트를 끊는데, 그렇지 못한 날엔 터치가 불안하니 턴오버를 많이 발생시킨다. 결정력의 기복은 프리미어리그 공식 사이트에서 지원하는 큰 기회를 놓친 횟수(Big chances missed) 기록과 통계 사이트 언더스탯에서도 확인할 수 있다.[9]

종합하자면 엄청난 신체능력을 바탕으로 상대팀을 가리지 않고 월드클래스 급의 공격력과 축구지능을 발휘함과 동시에 수비수 못지 않은 수비능력을 갖췄으며, 타고난 체력도 좋아서 활동량도 최상급에 부상도 잘 당하지 않고 많은 경기를 소화하는 완성형 윙어다.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Andrew Robertson</string>
		<key>images</key>
		<array>
			<string>robertson1</string>
			<string>robertson2</string>
			<string>robertson3</string>
		</array>
		<key>birth</key>
		<string>19940311</string>
		<key>uniform</key>
		<string>26</string>
		<key>position</key>
		<string>defender</string>
		<key>style</key>
		<string>주발이 왼발인 왼쪽 풀백으로 빠르고 정확한 왼발 크로스로 공격 옵션을 만들어주는 빼어난 능력을 갖추고 있다. 욘 아르네 리세 이후로 왼쪽에서 정확한 크로스를 날려줄 선수가 거의 없었던[17] 리버풀에는 가뭄에 단비와도 같은 존재. 크로스 패턴도 다양해 휘어지는 크로스, 낮은 크로스, 얼리 크로스에 모두 능하며 한 번에 플레이를 반대편으로 전환시키는 롱패스도 일품이다. 거의 모든 레프트백이 그렇듯 왼발에만 의존하는 경향이 있지만 공을 갖고 있을 때 매우 침착한 편이라서 약발 사용을 강요받을 때에도 허둥대지 않는다.

일차적으로는 밸런스 있게 수비에 집중한 후 직선적인 오버래핑을 펼치는 클래식 풀백의 모습을 보인다. 수비적인 부분에서 우수한 주력, 엄청난 투지, 지치지 않는 엄청난 체력, 쉽게 밀리지 않는 몸싸움 능력을 겸비해 좋은 신체적인 능력을 아주 잘 활용한다. 또한 공격수와 대치했을 때 정적으로 포지션을 지키며 끈질기게 붙어대기 때문에 협력 수비와 지역 수비에 능하다.[18]

과거에는 공격 시 지나치게 정적인 움직임을 가져간다는 점이 단점으로 꼽혔는데, 이러한 이유로 17-18 시즌 전반에 마네와 측면에 같이 설 경우 마네가 상대 진영에서 고립되는 상황이 빈번하게 일어났다.[19] 그러나 시즌 중반부터 경기에 지속적으로 나서기 시작하며 클롭의 게임 플랜을 완전히 이해했는지 오버래핑 상황에서 공간을 파고 드는 움직임, 오버래핑 타이밍, 연계 플레이가 매우 좋아져 리버풀의 측면 공격에 또 다른 옵션 역할을 충실히 수행하고 있다. 오히려 마네가 중앙으로 컷인을 하는 대신 로버트슨과의 연계플레이를 위해 3선까지 내려오는 모습이 꽤 자주 보이기도 한다. 특히나 팀 플랜에 적응하기 이전부터 장점이었던 활동량과 좋은 왼발 킥력이 시너지를 함께 일으키며, 이제는 세밀하고 어려운 연계도 잘 해내는 모습을 보인다. 특히나 17-18 시즌 후반기로 접어들면서 보여지기 시작하는 모습인데, 공을 잡고 돌파하면서 순간속도를 갑자기 확 줄이며 볼을 잠시 끌다가 다시 속도를 높이는 플레이에 매우 탁월하다. 이것 때문에 상대 수비수가 돌파하는 로버트슨을 따라잡다가 근육에 무리가 오면서 밸런스가 무너져 넘어지는 경우도 허다하다. 이런 플레이를 장착하면서 리버풀은 로버트슨의 돌파력을 활용한 개인 전술까지 가능해졌다.

파비뉴가 팀에 합류한 뒤로는 보다 더 공격적으로 전진하는 모습이 자주 나오는데, 좀 아쉽다고 평가받았던 연계에서도 훨씬 좋아진 모습을 보여주고 있다. 마네와 스위칭하여 최전방에서 질 좋은 크로스를 뿌려줌은 물론이고 중원의 숫자 싸움에도 열심히 가담해준다. 그러면서도 본업인 수비에 매우 충실하고, 때때로 왼발 코너킥이나 프리킥을 전담하기도 한다. 한 마디로 이제는 정말로 무결점 레프트백.

그래도 굳이 부족한 점을 꼽으라면, 슈팅이 너무 정직하다는 것 정도로, 골대의 빈 곳을 노리지 않고 가운데로 때리는데 정말 정확도가 지나치게 높아서(...) 골키퍼의 정면으로 가는 경우가 많다.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jordan Henderson</string>
		<key>images</key>
		<array>
			<string>henderson1</string>
			<string>henderson2</string>
			<string>henderson3</string>
			<string>henderson4</string>
		</array>
		<key>birth</key>
		<string>19900617</string>
		<key>uniform</key>
		<string>13</string>
		<key>position</key>
		<string>midfielder</string>
		<key>style</key>
		<string>매 시즌마다 역할과 플레이 스타일이 바뀌었지만, 로저스와 클롭 감독을 거치면서 주로 중앙 미드필더와 수비형 미드필더를 오가고 있다. 커리어 초반에는 주로 공격형 미드필더나 윙어로 기용되었는데, 당시 어린 나이였고 21세 이하 국가대표팀에서는 만능 자원으로 평가받았기에 과거 제라드가 그랬던 것처럼 다양한 포지션을 돌아다녔다. 그러나 이제 막 포텐이 터지려고 하는 유망한 자원에게 여러 포지션에서의 경험은 오히려 악수가 되었다. 리버풀 데뷔 시즌에 헨더슨이 얼마나 부진했는지 찰리 아담, 앤디 캐롤, 스튜어트 다우닝과 함께 사황으로 묶여 불릴 정도로 부진이 매우 심했다. 특히 케니 달글리시 감독은 헨더슨을 팬들의 절대적인 지지를 받던 디르크 카윗의 자리인 오른쪽 윙어로 기용했기에 성토가 많았다. 밀집 수비를 뚫어내는 드리블 같은 것은 당연히 기대하지 못했고, 마크맨이 달라붙으면 백횡패스나 의도를 알 수 없는 크로스를 날리는 모습만을 보여주었고, 이 때문에 클린트 뎀프시와의 트레이드가 성사 직전까지 가기도 했다.

바닥을 달리던 평판이 달라지기 시작한 건 브렌던 로저스 감독 부임 이후. 로저스는 헨더슨을 박스 투 박스 미드필더로서 중원의 엔진으로 활용하기 시작했는데 이 때부터 포텐이 만개하기 시작했다. 왕성한 활동량과 쉴새없는 침투, 2대1 패스를 주 패턴으로 하는 링커 역할, 상대의 지공을 차단하고 역습을 전개하는 좋은 모습을 보였다. 투 볼란치 시스템에서는 파트너와 호흡이 맞지 않거나 강한 전방압박을 당하면 고전하는 모습을 보이기도 했지만, 활동량이 워낙 좋은 편이었기에 기복은 별로 없는 편이었다. 특히나 팀의 부주장으로 선임된 14-15 시즌에는 본격적으로 패스에 눈을 뜨며 후방에서의 플레이메이킹에 장족의 발전을 이루었다.

위르겐 클롭 감독은 부임 후 이런 헨더슨을 수비형 미드필더로 낙점하고 4-3-3 포메이션의 피보테 롤을 맡겼다. 헨더슨은 수비형 미드필더 기준으로는 압박에 취약하고 순수 수비력이 아주 좋은 편은 아니기 때문에 위에서 자신을 보좌하는 박스 투 박스 미드필더가 누구냐에 따라 경기력의 차이가 심하게 달라진다. 특히 족저근막염으로 인해 활동량과 스피드가 크게 떨어졌었던 2010년대 중반기에 이런 현상이 두드러졌는데, 전성기의 아담 랄라나[5]나 알렉스 옥슬레이드체임벌린, 나비 케이타처럼 다른 미드필더들이 지속적으로 많이 뛰며 수비에 가담하고 헨더슨에게 가해지는 압박을 분산해주면 자신의 장점인 1차 빌드업 역할을 훌륭히 소화하고 좋은 연결고리 역할을 수행한다. 그러나 17-18 시즌 전반기의 필리페 쿠티뉴처럼 동료 미드필더의 수비가담과 중원 싸움에 대한 기여도가 떨어지면 헨더슨은 고스란히 압박에 노출되고 이를 풀어나오지 못한 채 답답한 백, 횡패스만 반복하는 등 매우 고전하는 모습을 보인다.

18-19 시즌부터는 박스 투 박스 역할로 복귀하여 그동안 수비형 미드필더로 뛰어오면서 위치 선정과 공간 이해도가 한층 높아진 것인지 기존보다 수비적인 기여가 많이 좋아졌고 오른쪽 하프윙으로서 얼리 크로스, 오프 더 볼 침투로도 재미를 보고 있다. 여기에 19-20 시즌 중반에는 파비뉴의 부상으로 인해 수비형 미드필더로 복귀하여 최고의 활약을 보이기도 했다.

종합적으로 헨더슨의 가장 큰 장점은 리그 최상급의 활동량과 패스 능력이라고 할 수 있다. 활동량은 로저스 시절부터 각광받았는데 클롭의 부임 후 더욱 탄력을 받았다. 패스를 보자면, 일단 결과적으로는 짧은 패스와 긴 패스, 땅볼 패스와 공중 패스 모두 상당한 클래스이다. 자신의 의지대로 구질을 완벽히 구사할 수 있다. 특히 3선에서 1선으로 바로 찔러주는 롱패스를 시도할 때는 주로 롱킥 중 최상의 난이도를 자랑하는 낮고 빠른 킥을 구사한다. 다만 킥이 좋음에도 근접 위치에서 프리킥을 잘 차지는 않는 편인데, 이는 헨더슨의 킥이 예리함과 커브보다는 파워와 비거리에 초점을 맞췄기 때문. 이처럼 활동량과 패스는 이미 리그 내에서도 정평이 나있다. 한편 잘 부각되지 않은 장점으로는 피지컬적인 능력이 있는데, 몸싸움을 비롯해 그냥 몸을 잘 쓴다. 거의 190cm에 달하는 장신임에도 단단하고 균형잡힌 체구를 가지고 있어 힘 또한 상당히 좋다. 흔히 보디 체킹(body checking)이라 부르는 플레이를 잘해, 자신보다 앞서있는 상대의 공도 쉽게 탈취하는 모습을 보여준다.

단점이라면 주력과 민첩성, 탈압박, 테크닉을 들 수 있다. 사실 헨더슨이 리버풀 초기를 제외하고는 중앙 미드필더나 수비형 미드필더 즉, 주력을 필수적으로 요구하지는 않는 위치에서 활약했기에 단점으로 드러나지는 않았지만 굳이 말하자면 느린 편에 속한다. 이런 헨더슨이 왜 그동안 주력에 발목잡히지 않았냐면 그가 의도적으로 보폭을 크게 딛기 때문이다. 축구는 장거리를 빠르게 달리기보다는 단거리에서 속도를 내는 것이 중요하다. 헨더슨은 크고 넓은 보폭으로 순간 속력을 냈기 때문에 그에게 주력이 큰 약점으로 작용하지 않았던 것이다. 하지만 주력 자체가 빠르지 않다는 것은 가속력으로 증명할 수 있다. 말했듯이 보폭이 커서 짧은 시간에 순간 속력[6]을 낼 수는 있지만, 20-30m 정도를 달리다보면 뒤쳐진다. 또한 몸놀림이 둔한 편이라 방향 전환이나 속도감 있는 드리블 및 탈압박을 기대하기는 힘들다. 그래서 상대팀의 강한 압박에 취약하다. 위처럼 한 번씩 제라드만큼의 멋진 중거리 골을 보여주기도 하지만, 정말로 로또 긁듯이 나오는 드문 장면들이다. 어쩌다가 골을 노려봄직한 찬스가 생겨도 그냥 동료들에게 패스하기 때문에 정말 슈팅 수가 적다. 비단 중거리 슈팅 능력만이 아니라 페널티 박스 안에서의 슈팅 정확도도 높지 않은 편.

정리하자면, 미친 듯한 활동량과 성실함을 바탕으로 피치 곳곳을 누비며 수준급 패스 능력과 좋은 축구 지능을 덤으로 보유한 선수이다. 그러나 발기술이 투박하여 압박 대처에 미숙하고 민첩함이 떨어지며 슈팅 능력이 아쉬운 편이라 할 수 있다.
</string>
	</dict>
</array>
</plist>
